@import url("https://fonts.googleapis.com/css?family=Ubuntu");
body {
  padding: 0px;
  margin: 0 auto; }

#curriculumVitae,
#cv-header,
#contact-details,
#cv-middle,
#cv-footer,
#education-section {
  max-width: 770px; }

#curriculumVitae {
  margin: 2% auto;
  font-family: Ubuntu;
  overflow: hidden;
  border: 1px solid #DDD; }

.nameTitle {
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 10px; }

#cv-header,
#education-section,
#projects-section {
  color: #FFF; }

#cv-header {
  max-height: 70px;
  margin: 0%; }
  #cv-header h1 {
    margin: 0% auto;
    line-height: 70px; }

#cv-header,
#education-section,
#projects-section {
  background: #304153; }

#curriculumVitae,
#cv-header,
#cv-middle,
#contact-details,
#personal-information,
#education-section,
#skills-section,
#projects-section,
#other-skills-section
#cv-footer {
  width: 100%; }

#cv-header,
#contact-details figure > img {
  height: 100%; }

#cv-header,
#contact-details,
#cv-middle,
#cv-footer,
#education-section {
  margin: auto; }

#cv-middle {
  margin-top: 7%;
  margin-bottom: 5%; }

a {
  color: #5399D4; }

#personal-information {
  max-width: 465px; }

#contact-details {
  margin-top: 5%; }
  #contact-details figure > img {
    max-height: 200px; }

#contact-details > figure,
#personal-information,
.education-year,
.education-institution {
  float: left; }

#contact-details > figure,
#personal-information {
  margin-left: 4.5%; }

.education-year,
.education-institution {
  margin-left: 5%; }

.avantaj-consulting {
  margin-left: 11.5%; }

.cv-titles {
  margin: 0.75% 0% 0% 1.8%;
  font-weight: bold;
  font-size: 21px; }
  .cv-titles span {
    position: relative;
    top: 2px; }

.titles {
  font-weight: bold; }

hr {
  margin-top: 1%;
  background: #DDD; }

#contact-details,
#education-section,
#skills-section,
#projects-section,
#other-skills-section {
  margin-top: 2%;
  overflow: hidden; }

#personal-information,
#education-section,
#skills-section ul > li,
#projects-section .projects-texts,
.other-skills-texts {
  font-size: 17px; }

#projects-section .projects-texts,
.skills-list,
.other-skills-texts {
  margin-left: 2%; }

#skills-section ul > li {
  margin-top: 1.5%; }

