body {
  padding: 0px; }

body,
#cv-header h2 {
  margin: 0 auto; }

#curriculum-vitae,
#cv-header,
#contact-details,
#cv-middle,
#education-section {
  max-width: 750px; }

#curriculum-vitae {
  margin: 2% auto;
  border: 1px solid #DDD; }

#curriculum-vitae,
#contact-details,
#education-section,
#skills-section,
#projects-section,
#other-skills-section {
  overflow: hidden; }

.nameTitle {
  letter-spacing: 1px;
  margin-top: 10px; }

.nameTitle,
.titles,
#avantaj-consulting,
#univ-of-birmingham {
  font-weight: bold; }

.nameTitle,
.cv-titles {
  font-family: Tahoma; }

#personal-information,
#education-section,
#skills-section ul > li,
#projects-section .projects-texts,
.other-skills-texts,
.icons {
  color: #000; }

#personal-information,
#education-section,
#skills-section ul > li,
#projects-section .projects-texts,
.other-skills-texts {
  font-size: 18px; }
  @media screen and (min-width: 320px) and (max-width: 359px) {
    #personal-information,
    #education-section,
    #skills-section ul > li,
    #projects-section .projects-texts,
    .other-skills-texts {
      font-size: 11px; } }
  @media screen and (min-width: 360px) and (max-width: 383px) {
    #personal-information,
    #education-section,
    #skills-section ul > li,
    #projects-section .projects-texts,
    .other-skills-texts {
      font-size: 12px; } }
  @media screen and (min-width: 384px) and (max-width: 411px) {
    #personal-information,
    #education-section,
    #skills-section ul > li,
    #projects-section .projects-texts,
    .other-skills-texts {
      font-size: 13px; } }
  @media screen and (min-width: 412px) and (max-width: 511px) {
    #personal-information,
    #education-section,
    #skills-section ul > li,
    #projects-section .projects-texts,
    .other-skills-texts {
      font-size: 14px; } }
  @media screen and (min-width: 512px) and (max-width: 599px) {
    #personal-information,
    #education-section,
    #skills-section ul > li,
    #projects-section .projects-texts,
    .other-skills-texts {
      font-size: 17px; } }

#contact-details,
#education-section,
#skills-section,
#projects-section,
#other-skills-section {
  font-family: Calibri; }

#cv-header {
  max-height: 70px; }
  #cv-header h2 {
    line-height: 70px; }

#curriculum-vitae,
#cv-header,
#cv-middle,
#contact-details,
#personal-information,
#education-section,
#skills-section,
#projects-section,
#other-skills-section {
  width: 100%; }

#cv-header,
#contact-details figure > img {
  height: 100%; }

#cv-header,
#contact-details,
#cv-middle,
#education-section {
  margin: auto; }

.cv-titles {
  background: #304153;
  color: #FFF;
  font-size: 20px;
  margin: 2.5% 0%; }
  @media screen and (min-width: 320px) and (max-width: 383px) {
    .cv-titles {
      font-size: 13px; } }
  @media screen and (min-width: 384px) and (max-width: 411px) {
    .cv-titles {
      font-size: 15px; } }
  @media screen and (min-width: 412px) and (max-width: 511px) {
    .cv-titles {
      font-size: 16px; } }

#contact-details > figure,
#personal-information {
  float: left; }

#contact-details > figure,
#personal-information,
#projects-section .projects-texts,
.skills-list,
.other-skills-texts {
  margin-left: 4%; }
  @media screen and (min-width: 384px) and (max-width: 411px) {
    #contact-details > figure,
    #personal-information,
    #projects-section .projects-texts,
    .skills-list,
    .other-skills-texts {
      margin-left: 1%; } }
  @media screen and (min-width: 720px) and (max-width: 767px) {
    #contact-details > figure,
    #personal-information,
    #projects-section .projects-texts,
    .skills-list,
    .other-skills-texts {
      margin-left: 1%; } }
  @media screen and (min-width: 320px) and (max-width: 383px) {
    #contact-details > figure,
    #personal-information,
    #projects-section .projects-texts,
    .skills-list,
    .other-skills-texts {
      margin-left: 2%; } }
  @media screen and (min-width: 412px) and (max-width: 511px) {
    #contact-details > figure,
    #personal-information,
    #projects-section .projects-texts,
    .skills-list,
    .other-skills-texts {
      margin-left: 2%; } }
  @media screen and (min-width: 512px) and (max-width: 767px) {
    #contact-details > figure,
    #personal-information,
    #projects-section .projects-texts,
    .skills-list,
    .other-skills-texts {
      margin-left: 2%; } }
  @media screen and (min-width: 768px) and (max-width: 899px) {
    #contact-details > figure,
    #personal-information,
    #projects-section .projects-texts,
    .skills-list,
    .other-skills-texts {
      margin-left: 2.5%; } }
  @media screen and (min-width: 900px) and (max-width: 1023px) {
    #contact-details > figure,
    #personal-information,
    #projects-section .projects-texts,
    .skills-list,
    .other-skills-texts {
      margin-left: 3%; } }

#personal-information {
  max-width: 520px;
  margin-top: 2.2%;
  border-spacing: 6px; }
  @media screen and (max-width: 374px) {
    #personal-information {
      border-spacing: 4px; } }
  @media screen and (max-width: 767px) {
    #personal-information {
      margin: 0.5% 0% -2.15% 0%; } }
  @media screen and (min-width: 480px) and (max-width: 767px) {
    #personal-information {
      margin: 1% auto;
      float: none; } }

#personal-information,
#education-section-intitutions {
  display: table; }

#personal-information-details-left,
#personal-information-details-right,
#education-section-left,
#education-section-right {
  display: table-cell; }

#personal-information-details-left p,
#personal-information-details-right p,
#education-section-left div,
#education-section-right div p {
  display: table-row; }

#personal-information-details-right {
  margin-left: 2%; }
  @media screen and (min-width: 320px) and (max-width: 433px) {
    #personal-information-details-right {
      margin-left: 1%; } }
  @media screen and (min-width: 512px) and (max-width: 599px) {
    #personal-information-details-right {
      margin-left: 3%; } }

.icons,
.icons-projects {
  color: #304153; }
  @media screen and (max-width: 434px) {
    .icons,
    .icons-projects {
      display: none; } }

.icons-projects {
  margin-right: 4px; }

.icons-margin {
  margin-left: 6px; }
  @media screen and (min-width: 320px) and (max-width: 411px) {
    .icons-margin {
      margin-left: 4px; } }
  @media screen and (min-width: 412px) and (max-width: 512px) {
    .icons-margin {
      margin-left: 5px; } }

@media screen and (max-width: 767px) {
  #contact-details > figure {
    margin: auto;
    float: none; } }

#contact-details > figure img {
  max-height: 200px; }
  @media screen and (max-width: 767px) {
    #contact-details > figure img {
      margin: auto;
      float: none;
      display: block; } }

#education-section-intitutions {
  border-spacing: 5px;
  margin: -2.85% 0% -1.5% 1.5%; }
  @media screen and (max-width: 600px) {
    #education-section-intitutions {
      margin: -5% 0px -3% 0%; } }

#education-section-left .education-year:nth-child(2) {
  visibility: hidden; }

.education-year p {
  margin: 10px; }
  @media screen and (min-width: 320px) and (max-width: 383px) {
    .education-year p {
      margin: 7px; } }
  @media screen and (min-width: 384px) and (max-width: 433px) {
    .education-year p {
      margin: 8px; } }

#projects-section p:nth-child(15),
#skills-section .skills-list {
  margin-bottom: 0px; }

.in-progress {
  margin-left: 4px;
  font-style: italic;
  font-weight: normal; }

@media screen and (min-width: 320px) and (max-width: 600px) {
  .projects-texts .icons,
  .other-skills-texts .icons {
    display: none; } }

#skills-section .skills-list li {
  margin-top: 1.5%; }
  #skills-section .skills-list li span:first-child {
    position: relative;
    top: 3px; }
    @media screen and (min-width: 320px) and (max-width: 411px) {
      #skills-section .skills-list li span:first-child {
        top: 1px; } }

