@import url("https://fonts.googleapis.com/css?family=Ubuntu");
body {
  padding: 0px;
  margin: 0 auto; }

#curriculumVitae {
  margin: 2% auto;
  font-family: Ubuntu;
  overflow: hidden;
  border: 1px solid #EEE;
  max-width: 770px; }

#curriculumVitae,
#cv-header,
#contact-details,
#cv-middle,
#cv-footer {
  width: 100%; }

#contact-details > figure,
#personal-information {
  height: 100%; }

#cv-header,
#contact-details,
#cv-middle,
#cv-footer {
  max-width: 750px;
  margin: auto; }

h3 {
  font-weight: bold; }

#contact-details > figure,
#personal-information {
  max-height: 285px;
  float: left;
  margin-left: 3%; }

#personal-information {
  font-size: 17px; }

section {
  margin-top: 7%;
  margin-bottom: 5%; }

.nameTitle {
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 10px; }

