$max-width: 100%;
$max-height: 100%;
$white: #FFF;
$margin-auto: 0 auto;

@mixin margin-float-group {
    margin: auto;
    float: none;
}
@mixin content-margin-left-one {
    @media screen and (min-width: 384px) and (max-width: 411px) {
        margin-left: 1%;
    }
    @media screen and (min-width: 720px) and (max-width: 767px) {
        margin-left: 1%;
    }
}
@mixin content-margin-left-two {
    @media screen and (min-width: 320px) and (max-width: 383px) {
        margin-left: 2%;
    }
    @media screen and (min-width: 412px) and (max-width: 511px) {
        margin-left: 2%;
    }
}

body {   
	padding: 0px;
}
body, 
#cv-header h2 {
    margin: $margin-auto;
}
#curriculum-vitae,
#cv-header,
#contact-details, 
#cv-middle,
#cv-footer,
#education-section {
    max-width: 750px; 
}
#curriculum-vitae {
    margin: 2% auto;
    border: 1px solid #DDD;
} 
#curriculum-vitae,
#contact-details,
#education-section,
#skills-section,
#projects-section,
#other-skills-section {
    overflow: hidden;
}
.nameTitle {  
	letter-spacing: 1px;
	margin-top: 10px; 
}
.nameTitle,
.titles,
#avantaj-consulting, 
#univ-of-birmingham {  
    font-weight: bold;
}
.nameTitle,
.cv-titles {
    font-family: Tahoma;
}
#personal-information,
#education-section,
#skills-section ul>li,
#projects-section .projects-texts,
.other-skills-texts,
.icons {
    color: #000;
}
#personal-information,
#education-section,
#skills-section ul>li,
#projects-section .projects-texts,
.other-skills-texts {
    font-size: 18px;
    @media screen and (min-width: 320px) and (max-width: 359px) {
        font-size: 11px;
    }
    @media screen and (min-width: 360px) and (max-width: 383px) {
        font-size: 12px;
    }
    @media screen and (min-width: 384px) and (max-width: 411px) {
        font-size: 13px;
    }
    @media screen and (min-width: 412px) and (max-width: 511px) {
        font-size: 14px;
    }
    @media screen and (min-width: 512px) and (max-width: 599px) {
        font-size: 17px;
    }
}
#contact-details,
#education-section,
#skills-section,
#projects-section,
#other-skills-section {
    font-family: Calibri;
}
#cv-header {
    max-height: 70px;
    h2 {
        line-height: 70px;
    }
}
#curriculum-vitae,
#cv-header,
#cv-middle,
#contact-details, 
#personal-information,
#education-section,
#skills-section,
#projects-section,
#other-skills-section 
#cv-footer {
    width: $max-width;
}
#cv-header,
#contact-details figure>img {
    height: $max-height;
}
#cv-header,
#contact-details, 
#cv-middle,
#cv-footer,
#education-section {
	margin: auto;
}
.cv-titles {
    background: #304153;
    color: $white;
    font-size: 20px;
    margin: 2.5% 0%;
    @media screen and (min-width: 320px) and (max-width: 383px) {
        font-size: 13px;
    }
    @media screen and (min-width: 384px) and (max-width: 411px) {
        font-size: 15px;
    }
    @media screen and (min-width: 412px) and (max-width: 511px) {
        font-size: 16px;
    }
}
#contact-details>figure,
#personal-information {
    float: left;
}
#contact-details>figure,
#personal-information,
#projects-section .projects-texts,
.skills-list,
.other-skills-texts {
    margin-left: 4%;
    @include content-margin-left-one;
    @include content-margin-left-two;
    @media screen and (min-width: 512px) and (max-width: 767px) {
        margin-left: 2%;
    }
    @media screen and (min-width: 768px) and (max-width: 899px) {
        margin-left: 2.5%;
    }
    @media screen and (min-width: 900px) and (max-width: 1023px) {
        margin-left: 3%;
    }
}
#personal-information {
    max-width: 520px;
    margin-top: 2.2%;
    border-spacing: 6px;
    @media screen and (max-width: 374px) {
        border-spacing: 4px;
    }
    @media screen and (max-width: 767px) {
        margin-bottom: -2.15%;
    }
    @media screen and (min-width: 480px) and (max-width: 767px) {
        margin: 1% auto;
        float: none;
    }
}
#personal-information,
#education-section-intitutions {
	display: table;
}
#personal-information-details-left,
#personal-information-details-right,
#education-section-left,
#education-section-right {
    display: table-cell;
}
#personal-information-details-left p,
#personal-information-details-right p,
#education-section-left div,
#education-section-middle div,
#education-section-right div p {
    display: table-row;
}
#personal-information-details-right {
    margin-left: 2%;
    @media screen and (min-width: 320px) and (max-width: 433px) {
        margin-left: 1%;
    }
    @media screen and (min-width: 512px) and (max-width: 599px) {
        margin-left: 3%;
    }
}
.icons {
    color: #304153;
}
.icons-margin {
    margin-left: 6px;
    @media screen and (min-width: 320px) and (max-width: 411px) {
        margin-left: 4px;
    }
    @media screen and (min-width: 412px) and (max-width: 512px) {
        margin-left: 5px;
    }
}
#contact-details>figure {
    @media screen and (max-width: 767px) {
        @include margin-float-group;
    }
} 
#contact-details>figure img  {
    max-height: 200px;
    @media screen and (max-width: 767px) {
        @include margin-float-group;
        display: block;
    }
} 
#education-section-intitutions {
	border-spacing: 5px;
    margin: -2.85% 0px -1.5% 1.5%;
    @media screen and (max-width: 600px) {
        margin: -5% 0px -3% 0%;
    }
}
#education-section-left .education-year:nth-child(2),
#education-section-middle>.education-year {
    visibility: hidden;
}
.education-year p {
    margin: 10px;
    @media screen and (min-width: 320px) and (max-width: 383px) {
        margin: 7px;
    }
    @media screen and (min-width: 384px) and (max-width: 433px) {
        margin: 8px;
    }
}
#projects-section p:nth-child(15) {
    margin-bottom: 0px;
}
.in-progress {
    font-style: italic;
    font-weight: normal;
}
.projects-texts .icons,
.other-skills-texts .icons {
    @media screen and (min-width: 320px) and (max-width: 600px) {
        display: none;
    }
}
#skills-section .skills-list {
    margin-bottom: 0px;
    li {
        margin-top: 1.5%;
        span:first-child {
            position: relative;
            top: 3px;
            @media screen and (min-width: 320px) and (max-width: 411px) {
                top: 1px;
            }
        }
    }
}