@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Roboto');

$max-width: 100%;
$max-height: 100%;
$white: #FFF;
$margin-auto: 0 auto;

body {   
	padding: 0px;
}
body, 
#cv-header h1 {
    margin: $margin-auto;
}
#curriculumVitae,
#cv-header,
#contact-details, 
#cv-middle,
#cv-footer,
#education-section {
    max-width: 770px; 
}
#curriculumVitae {
    margin: 2% auto;
    overflow: hidden; 
    border: 1px solid #DDD;
} 
.nameTitle {  
    font-weight: bold;
	letter-spacing: 1px;
	margin-top: 10px; 
}
.nameTitle,
.cv-titles {
    font-family: Ubuntu;
}
#cv-header {
    max-height: 70px;
    margin-top: 3%;
    h1 {
        line-height: 70px;
    }
}
#curriculumVitae,
#cv-header,
#cv-middle,
#contact-details, 
#personal-information,
#education-section,
#skills-section,
#projects-section,
#other-skills-section 
#cv-footer {
    width: $max-width;
}
#cv-header,
#contact-details figure>img {
    height: $max-height;
}
#cv-header,
#contact-details, 
#cv-middle,
#cv-footer,
#education-section {
	margin: auto;
}
#cv-middle {
    margin-top: 2.5%;
    margin-bottom: 5%;
}
a {
    color: #5399D4;
}
#personal-information {
    max-width: 530px;
   margin-top: 2.75%;
}
#contact-details {
    margin-top: 5%;
    figure>img {
        max-height: 200px;
    }
}
#contact-details>figure,
#personal-information, 
.education-year,
.education-institution {
    float: left;
}
#contact-details>figure,
#personal-information {
    margin-left: 4.5%;
}
.education-year,
.education-institution {
    margin-left: 5%;
}
.avantaj-consulting {
    margin-left: 11.5%;
}
.cv-titles {
    margin: 0.75% 0% 2% 0%;
    padding-left: 3%;
    background: #304153;
    color: $white;
    font: {
        weight: bold;
        size: 20px;
    }
    span {
        position: relative;
        top: 2px;
    }
}
.titles {
        font-weight: bold;
    }
#contact-details,
#education-section,
#skills-section,
#projects-section,
#other-skills-section {
    margin-top: 1%;
    overflow: hidden;
    font-family: Roboto;
}
#personal-information,
#education-section,
#skills-section ul>li,
#projects-section .projects-texts,
.other-skills-texts {
    font-size: 17px;
}
#projects-section .projects-texts,
.skills-list,
.other-skills-texts {
    margin-left: 2%;
}
#skills-section ul>li {
    margin-top: 1.5%;
}