$max-width: 100%;
$max-height: 100%;
$white: #FFF;
$margin-auto: 0 auto;

body {   
	padding: 0px;
}
body, 
#cv-header h1 {
    margin: $margin-auto;
}
#curriculumVitae,
#cv-header,
#contact-details, 
#cv-middle,
#cv-footer,
#education-section {
    max-width: 770px; 
}
#curriculumVitae {
    margin: 2% auto;
    overflow: hidden; 
    border: 1px solid #DDD;
} 
.nameTitle {  
    font-weight: bold;
	letter-spacing: 1px;
	margin-top: 10px; 
}
.nameTitle,
.cv-titles {
    font-family: Tahoma;
}
#cv-header {
    max-height: 70px;
    margin-top: 3%;
    h1 {
        line-height: 70px;
    }
}
#curriculumVitae,
#cv-header,
#cv-middle,
#contact-details, 
#personal-information,
#education-section,
#skills-section,
#projects-section,
#other-skills-section 
#cv-footer {
    width: $max-width;
}
#cv-header,
#contact-details figure>img {
    height: $max-height;
}
#cv-header,
#contact-details, 
#cv-middle,
#cv-footer,
#education-section {
	margin: auto;
}
#cv-middle {
    margin-top: 2%;
    margin-bottom: 5%;
}
#personal-information {
    max-width: 535px;
    margin-top: 2.2%;
}
#contact-details {
    figure>img {
        max-height: 200px;
    }
}
#contact-details>figure,
#personal-information, 
#personal-information-details-left,
#personal-information-details-right,
.education-year,
.education-institution {
    float: left;
}
#contact-details>figure,
#personal-information,
#personal-information-details-right,
.education-year,
.education-institution,
#projects-section .projects-texts,
.skills-list,
.other-skills-texts {
    margin-left: 4%;
}
.avantaj-consulting {
    margin-left: 10.5%;
}
.cv-titles {
    margin: 2.5% 0%;
    background: #304153;
    color: $white;
    font-size: 20px;
}
span {
    color: #304153;
}
.titles {
        font-weight: bold;
    }
#contact-details,
#education-section,
#skills-section,
#projects-section,
#other-skills-section {
    overflow: hidden;
    font-family: Calibri;
}
#personal-information,
#education-section,
#skills-section ul>li,
#projects-section .projects-texts,
.other-skills-texts {
    font-size: 18px;
}
#skills-section ul>li {
    margin-top: 1.5%;
}